<routes xmlns="https://camel.apache.org/schema/spring/camel-spring-4.12.0.xsd">
    <route id="direct-reliable">

      <from uri="direct:start"/>
      <aggregate aggregationStrategy="#bean:aggregationStrategy" ignoreInvalidCorrelationKeys="true"
           aggregationRepository="#bean:directMonitoringRepo">
        <correlationExpression>
            <ref>msgIdCorrelator</ref>
        </correlationExpression>
        <completionPredicate> 
          <method>aggregationStrategy?method=isAggregationComplete</method>
        </completionPredicate>     
        <completionTimeoutExpression>
          <method>aggregationStrategy?method=getAggregationTime</method>
        </completionTimeoutExpression>           
        <to uri="mock:result"/>
      </aggregate>
    </route>
    
    <!--  Simple timer to purge exchanges in the duplication data base.
          This can replaced more sophisticated quartz configuration using 
          the Camel Quartz component and cron expressions.  Default configuration
          purges the table once every 6 hours.
     -->    
     <route id="duplicate-store-purge">
       <from uri="timer://purgeTimer?period=6h"/>
       <bean ref="duplicationStateManager" method="purge"/>
     </route>

</routes> 